/* Reset Body + Configurações Página */

* {
    margin: 0;
    padding: 0;
    font-family: "M PLUS 2", sans-serif;
    box-sizing: border-box;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
}

body {
    background: #161416;
}

ul {
    list-style: none;
}

.interface {
    max-width: 1920px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Começa o Header */

.container {
    margin: auto;
    
}

.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    z-index: 1;
    width: 100%;
    padding: 20px 4%;
    position: fixed;
    background: #16141665;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    box-shadow: 0 5px 5px #16141635;
}

header ul li {
    display: inline-block;
    margin: 0 15px;
}

header ul li a {
    font-size: 15px;
    transition: 0.2s;
}

header ul li a:hover {
    color: #4e4093;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
}

header h5 {
    font-size: 10px;
    font-weight: 200;
}

.contato a {
    color: #4e4093;
    border-radius: 50px;
    border: #4e4093 solid 2px;
    background: #252525;
    padding: 5px 15px;
}

.contato a:hover {
    background: #4e4093;
    color: #fff;
}

/* Acaba o Header */

/* Começa a apresentação */


section.topo-do-site {
    font-weight: bold;
    padding-top: 150px;
    padding-bottom: 350px;
    padding-left: 4%;
    padding-right: 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 15%;
}

.topo-do-site h1 {
    font-size: 85px;
    line-height: 80px;
}

.topo-do-site span {
    font-weight: 200;
}

.direita-topo-site {
    text-align: justify;
    max-width: 300px;
}

.links-pessoais {
    margin-top: 40px;
    
}

.links-pessoais ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-pessoais ul li a {
    font-size: 20px;
    color: #4e4093;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.links-pessoais ul li a:hover {
    color: #6452bb;
    transform: scale(1.05);
}

/* Acaba a apresentação */

/* Começa os projetos */

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 30px 10px #ffffff2a;
}

section.portfolio .flex {
    justify-content: center;
    gap: 80px;
}   

section.portfolio h2 {
    text-align: center;
    color: #4e4093;
    margin: 30px;
}

.img-port {
    width: 42%;
    height: 500px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 3s;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000002f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
}

.overlay:hover {
    opacity: 100;
    transition: 1s;
}

/* Acaba os projetos */

/* Começa o sobre */

section.inferior-do-site {
    padding: 80px 4%;
}

section.inferior-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.inferior-do-site h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.inferior-do-site p {
    font-size: 18px;
    font-weight: 200;
    text-align: justify;
}

.inferior-do-site span {
    font-weight: bold;
}

.inferior-do-site img {
    border-radius: 5px;
    height: auto;
    max-width: 420px;
}

.competencias-formacoes {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

/* Acaba o sobre */

@media screen and (max-width: 1000px) {
    
    /* CLASSES GERAIS */
    
    .flex {
        flex-direction: column;
    }

    /* CABEÇALHO */

    header {
        padding: 10px 4%;
    }

    .nome {
        line-height: 30px;
    }
    
    .navegacao {
        display: none;
    }

    .contato a {
        font-size: 10px;
    }

    /* TOPO SITE */

    section.topo-do-site {
        padding-bottom: 150px;
    }

    .topo-do-site h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .esquerda-topo-site {
        padding-bottom: 30px;
    }

    /* PROJETOS */

    section.portfolio {
        padding: 20px 4%;
    }

    .img-port {
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: 100% 0%;
        transition: 3s;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
    }

    /* SOBRE */

    .competencias-formacoes {
        display: block;
    }

    .competencias {
        padding-bottom: 50px;
        
    }

    .formacoes {
        padding-bottom: 50px;
    }

}
